{
  "$schema": "https://raw.githubusercontent.com/CodeFromAnywhere/ActionSchema/main/schemas/openapi.schema.json",
  "openapi": "3.0.0",
  "info": {
    "title": "OpenAPI Combination Proxy",
    "version": "1.0",
    "description": "ActionSchema"
  },
  "servers": [
    {
      "url": "https://proxy.actionschema.com/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/mergePartialApis": {
      "post": {
        "summary": "Merges partial apis without storing the resulting openapi.",
        "operationId": "mergePartialApis",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "proxy": {
                    "$ref": "https://raw.githubusercontent.com/CodeFromAnywhere/ActionSchema/main/schemas/openapi-proxy.schema.json#"
                  }
                },
                "required": ["proxy"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OpenAPI",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "https://raw.githubusercontent.com/CodeFromAnywhere/ActionSchema/main/schemas/openapi.schema.json#"
                }
              }
            }
          }
        }
      }
    },
    "/makeProxyOpenapi": {
      "post": {
        "summary": "Makes an openapi from an OpenAPI Proxy specification.",
        "operationId": "makeProxyOpenapi",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "proxy": {
                    "$ref": "https://raw.githubusercontent.com/CodeFromAnywhere/ActionSchema/main/schemas/openapi-proxy.schema.json#"
                  },
                  "openapi": {
                    "$ref": "https://raw.githubusercontent.com/CodeFromAnywhere/ActionSchema/main/schemas/openapi.schema.json#"
                  }
                },
                "required": ["proxy", "openapi"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Standard response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StandardResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "StandardResponse": {
        "type": "object",
        "required": ["isSuccessful"],
        "properties": {
          "isSuccessful": {
            "type": "boolean"
          },
          "message": {
            "type": "string"
          },
          "priceCredit": {
            "type": "number"
          }
        }
      }
    }
  }
}
